audit/
programs/
tests/
scripts/
target/*
!target/idl/*.json
sdk/js/*
sdk/rust/*
.anchor
.idea
.gitignore
.prettierrc.cjs
Anchor.toml
Cargo.lock
Cargo.toml
eslint.config.mjs
rustfmt.toml
CHANGELOG.md
README.md
tuna4uSQZncNeeiAMKbstuxA9CUkHH6HmC64wgmnogD.json