[package]
name = "defituna-client"
version = "0.0.0"
homepage = "https://defituna.com"
description = "Rust client to interact with DefiTuna's on-chain program."
license = "MIT"
repository = "https://github.com/DefiTuna/tuna-sdk"
keywords = ["solana", "crypto", "defi", "dex", "amm"]
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[features]
default = []
anchor = ["dep:anchor-lang"]
anchor-idl-build = []
serde = ["dep:serde", "dep:serde_with"]
fetch = ["dep:solana-client", "dep:solana-sdk", "dep:solana-account-decoder"]
solana-v1 = []

[dependencies]
anchor-lang = { version = ">=0.29, <=0.31.1", optional = true }
borsh = { version = "0.10" }
fixed = { version = "1.29.0" }
num-derive = { version = "0.4" }
num-traits = { version = "0.2" }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_with = { version = "3.12", optional = true }
solana-program = { version = ">=1.16, <3.0" }
solana-sdk = { version = ">=1.16, <3.0", optional = true }
solana-client = { version = ">=1.16, <3.0", optional = true }
solana-account-decoder = { version = ">=1.16, <3.0", optional = true }
spl-token = { version = "6.0" }
spl-token-2022 = { version = "6.0" }
spl-associated-token-account = { version = "6.0" }
thiserror = { version = "2.0" }
uint = { version = "0.9", default-features = false }
orca_whirlpools_client = "2.0"
orca_whirlpools_core = "1.0"
